In [12]:
import pandas as pd
import os 
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

In [13]:
os.chdir('C:/Users/Sushant/Documents/newspaper-word-count/Udemy Codes')
%pwd

'C:\\Users\\Sushant\\Documents\\newspaper-word-count\\Udemy Codes'

In [19]:
#Import the data
df1 = pd.read_csv('bank-data.csv')
df2 = pd.read_csv('bank-data-testing.csv')
print('The number of columns in training and test data are '+str(len(df1)) +' and '+str(len(df2))+' respectively')

The number of columns in training and test data are 518 and 222 respectively

In [20]:
#concatenate the data and check the length
df = pd.concat([df1, df2])
print(len(df))
df.head()

740

   Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0           0          1.334     0.0    1.0  0.0       0.0     117.0   no
1           1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2           2          4.858     0.0    1.0  0.0       0.0     167.0   no
3           3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4           4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [21]:
#Map the response variable to 0 and 1
#add a constant
df['y']= df['y'].map({'no':0, 'yes':1})
df = sm.add_constant(df)
df.head()

   const  Unnamed: 0  interest_rate  credit  march  may  previous  duration  y
0    1.0           0          1.334     0.0    1.0  0.0       0.0     117.0  0
1    1.0           1          0.767     0.0    0.0  2.0       1.0     274.0  1
2    1.0           2          4.858     0.0    1.0  0.0       0.0     167.0  0
3    1.0           3          4.120     0.0    0.0  0.0       0.0     686.0  1
4    1.0           4          4.856     0.0    1.0  0.0       0.0     157.0  0

In [22]:
#Split into training and testing set
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size =0.2)
print('The number of columns in training and test data are '+str(len(train)) +' and '+str(len(test))+' respectively')
train.head()

The number of columns in training and test data are 592 and 148 respectively

,const,Unnamed: 0,interest_rate,credit,march,may,previous,duration,y
391,1.0,391,1.291,0.0,1.0,0.0,0.0,59.0,0
112,1.0,112,4.965,0.0,0.0,0.0,0.0,823.0,1
71,1.0,71,0.810,0.0,0.0,2.0,0.0,229.0,1
218,1.0,218,1.264,0.0,1.0,1.0,0.0,397.0,1
46,1.0,46,4.960,0.0,0.0,0.0,0.0,225.0,0

In [23]:
#Separate response and explanatory variables
Y = train['y']
X = train.drop(columns=['Unnamed: 0', 'y'])
X.head()

     const  interest_rate  credit  march  may  previous  duration
391    1.0          1.291     0.0    1.0  0.0       0.0      59.0
112    1.0          4.965     0.0    0.0  0.0       0.0     823.0
71     1.0          0.810     0.0    0.0  2.0       0.0     229.0
218    1.0          1.264     0.0    1.0  1.0       0.0     397.0
46     1.0          4.960     0.0    0.0  0.0       0.0     225.0

In [24]:
logreg = sm.Logit(Y,X).fit()
logreg.summary()

Optimization terminated successfully.
         Current function value: 0.324284
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  592
Model:                          Logit   Df Residuals:                      585
Method:                           MLE   Df Model:                            6
Date:                Tue, 26 Feb 2019   Pseudo R-squ.:                  0.5322
Time:                        20:29:19   Log-Likelihood:                -191.98
converged:                       True   LL-Null:                       -410.34
                                        LLR p-value:                 3.513e-91
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.1324      0.311     -0.426      0.670      -0.742       0.477
interest_rate    -0.8501      0.093     -9.186      0.000      -1.032      -0.669
credit            2.7373      1.068      2.563      0.010       0.644       4.830
march            -1.8262      0.320     -5.710      0.000      -2.453      -1.199
may               0.0533      0.202      0.264      0.792      -0.343       0.449
previous          1.5234      0.566      2.693      0.007       0.415       2.632
duration          0.0075      0.001     10.332      0.000       0.006       0.009
=================================================================================
"""

In [25]:
#Predict and create confusion matrix for test data
test = test.drop(columns=['Unnamed: 0'])
test.head()

     const  interest_rate  credit  march  may  previous  duration  y
453    1.0          1.281     0.0    1.0  1.0       0.0     829.0  1
302    1.0          4.963     0.0    0.0  0.0       0.0     184.0  0
113    1.0          4.860     0.0    1.0  0.0       0.0     177.0  0
214    1.0          4.961     0.0    0.0  0.0       0.0      82.0  0
277    1.0          1.264     0.0    1.0  0.0       0.0     143.0  0

In [26]:
pred = logreg.predict(test.drop(columns=['y']))
pred.head()

453    0.961211
302    0.048588
113    0.008446
214    0.023288
277    0.123144
dtype: float64

In [27]:
bins=np.array([0,0.5,1]) 
cm = np.histogram2d(test['y'], pred, bins=bins)[0]
cm

array([[65.,  9.],
       [10., 64.]])

In [28]:
new_pred=[]
new_pred=[]
for i in pred:
    if i < 0.5:
        new_pred.append(0)
    else:
        new_pred.append(1)

In [30]:
from sklearn.metrics import confusion_matrix as cm
matrix = cm (test['y'], new_pred)
matrix

array([[65,  9],
       [10, 64]], dtype=int64)